/* Example media query
@media only screen and (min-width: 500px) {
    body {
        background-color: salmon;
    }
}  */

body {
    background-color: salmon;
}

img {
    display: none;
    max-width: 100%;
}
.section {
    border: 5px solid purple;
}

@media only screen and (min-width: 800px) {
    body {
        background-color: darkslateblue;
    }
}

@media only screen and (min-width: 1000px) {
    body {
        background-color: yellow;
    }
}

@media only screen and (min-width: 540px) {
    img {
        display: block;
    }
}

